@charset "UTF-8";
.container {
  background-color: #fff;
}
.container .content > ul > li {
  width: 50%;
  float: left;
  padding: 0.2rem 0 0 0.2rem;
  height: 5.4rem;
  border: 1px solid #ccc ;
  border-bottom: 1px solid #ccc ;
}
.container .content > ul > li a {
  display: block;
}
.container .content > ul > li a img {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.2rem auto;
}
.container .content > ul > li a .title {
  color: #333;
  font-size: 0.28rem;
  text-align: left;
  text-align-last: left;
  line-height: 0.36rem;
  height: 0.72rem;
  padding: 0 0.16rem;
}
.container .content > ul > li a .subtit {
  margin-top: 0.08rem;
  padding: 0 0.16rem;
  text-align: left;
  height: 0.36rem;
  text-last-align: left;
  color: #ff841d;
}
.container .content > ul > li a .info {
  padding: 0.12rem 0.16rem;
  line-height: 0.48rem;
}
.container .content > ul > li a .info .mall {
  color: #a1a1a1;
  font-size: 0.24rem;
  text-align: left;
  line-height: 0.48rem;
}
.footer > .footer_top {
  margin-top: 0.8rem;
}
