@charset "UTF-8";
@import "color";
.content{
  width: 100%;
  >.title{
    width: 100%;
    height: 40rem/50;
    //background-color: gradient-linear(red,blue);
    line-height: 40rem/50;
    padding:0 10rem/50;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#f0f0f0));
    .title4{
      float: right;
      display: block;
      //height:28rem/50;
      font-size:14rem/50;
      margin-top:6rem/50;
      padding: 0 16rem/50;
      line-height:28rem/50;
      border:1px solid #ccc;
      border-radius: 7rem/50;
      text-align: center;
      background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ccc), to(#fff));

    }
  }

}